body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("lake1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
#menu{
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    font-style: normal;
}

li{
    float: left;
    width: 25%;
    border-left: 2px solid rgb(221, 221, 221);
}
  
a {
    display: block;
    color: gray;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }

li a:hover {
    color: gray;
    background-color: rgb(231, 231, 231);
}

h1{
    font-size: 300%;
    text-align: center;
    margin: 70px;

}
 #header{
    border-style: solid;
    border-color: white;
    border-width: thick;
    border-spacing: 0px;
    padding: 0px 20px;
    margin: 70px;

 }
 h2,h3{
     font-size: 150%;
 }
 #About{
     float: left;
    border-style: solid;
    border-color: white;
    border-width: thick;
    border-spacing: 0px;
    padding: 0px 20px;
    width: 40%;
    margin: 10px 30px;
    font-size: 130%;

 }
 #Aims{
    float: right;
   border-style: solid;
   border-color: white;
   border-width: thick;
   border-spacing: 0px;
   padding: 0px 20px;
   width: 45%;
   margin-right: 30px;
   margin-top: 50px;
   font-size: 130%;
   

}

#section1{
    padding-bottom: 100px;
}
dt {
    color: rgb(199, 199, 199);
}

#Facts{
    color: gray;
    float: left;
   border-style: solid;
   border-color: rgb(236, 236, 236);
   background-color: rgb(236, 236, 236);
   border-width: thick;
   border-spacing: 0px;
   padding:20px;
   font-size: 150%;
   margin-top: 100px;
   width: 100%;

}
table, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 50px
}
table{
    width: 80%;
}
#section2 {
    padding: 60px 30px;
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    font-size: 130%;
}
#help {
    width: 100%;
}
#newsletter{
    float: left;
   border-style: solid;
   border-color: white;
   border-width: thick;
   border-spacing: 0px;
   padding: 50px;
   width: 40%;
   margin: 10px 30px;
   font-size: 100%
}
h3{
    size: 170%;
    padding-left: 70px;
}

#video{
    float: right;
   border-style: solid;
   border-color: white;
   border-width: thick;
   border-spacing: 0px;
   padding: 20px 40px;
   margin-right: 50px;
   margin-top: 50px;
   font-size: 100%;
   

}

#social{
    color: gray;
    float: left;
   border-style: solid;
   border-color: rgb(236, 236, 236);
   background-color: rgb(236, 236, 236);
   border-width: thick;
   border-spacing: 0px;
   padding-top: 10px;
   padding-bottom: 5px;
   padding-left: 45%;
   font-size: 150%;
   width: 100%;
}
dd {
    font-size: 80%;
}

#reference{
    text-align: right;
    font-size: 70%;
}

@media only screen and (max-width: 1000px) {
    #About{
       width: 90%;
       margin: 5% 30px;
    }

    #Aims{
       width: 90%;
       margin: 5%;
       }

    #header{
        padding: 0px;
        margin: 0px;
     }
    
    #Facts{
        margin-left: 0px;
       padding:0px;
       width: 100%;
       font-size: 120%;
    }

    #newsletter{
       padding: 50px;
       width: 100%;
       margin: 10px 0px;
    }

    #video{
        padding: 20px 10px;
        margin-right: 0px;
        font-size: 100%;
        width: 100%;
    }
    iframe{
        width: 450px;
        height: 320px;
        margin-left: 5%;
    }
}



@media only screen and (max-width: 550px) {
    #header{
        font-size: 90%;
    }
    #Facts{
       font-size: 90%;
    }
    iframe{
        width: 90%;
        height: 240px;
        margin-left: 5%;
    }
    #newsletter{
        width: 90%;
    }
}
